{% extends headerLayout %}


{% block head %}
	<html lang="en">
		<head>


			{{ parent() }}
			<link rel="stylesheet" href="public/fontawesome/css/all.css">
			<link type="text/css" rel="stylesheet" href="templates/styles/materialize.min.css" media="screen,projection"/>
			<link rel="stylesheet" href="templates/styles/test.css">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" defer></script>
			<script type="text/javascript" src="public/js/materialize.min.js" defer></script>
			<script src="../public/js/turnImage.js" defer></script>
			<script src="../public/js/selectform.js" defer></script>
		</head>
	{% endblock %}

	{% block nav %}
		<body>

			{{ parent() }}

		{% endblock %}


		{% block content %}

			<div class="header">
				<img class="img-header" src="public/asset/headerLecture.png" alt="">
			</div>

			<div class="info">
				<img src="dossierAJeter/profilnaruto.jpg" alt="" class="img-info">
				<p class="author-info">Yann Duchateau</p>
				<span class="vertical-line"></span>
				<p class="description-info">L'histoire nous fait suivre les générations de la famille Joestar, dont chaque arc (partie) se concentre sur l'un des descendants qui possède des pouvoirs et livrant bataille contre ceux qui veulent dominer le monde.
				</p>
				<div class="statistique-info">
                    <div class="rang-container-info">
                        <p class="rang-info"> Rang </p>
                        <p class="rang-statistique-info"> 1 <span>er</span></p>
                    </div>
                    <span class="vertical-line-stats"></span>
                     <div class="rang-container-info">
                        <p class="rang-info"> Challenger </p>
                        <img src="logojordan.png" class="rang-statistique-info rang-statistique-img-info"/>
                    </div>
                    <span class="vertical-line-stats"></span>
                     <div class="rang-container-info">
                        <p class="rang-info"> Chapitres </p>
                        <p class="rang-statistique-info rang-statistique-info-else"> 739</p>
                    </div>
                    <span class="vertical-line-stats"></span>
                     <div class="rang-container-info">
                        <p class="rang-info"> Fans </p>
                        <p class="rang-statistique-info rang-statistique-info-else"> 10343</p>
                    </div>
                    <span class="vertical-line-stats"></span>
                     <div class="rang-container-info">
                        <p class="rang-info"> Lecture </p>
                        <p class="rang-statistique-info rang-statistique-info-else"> 25012</p>
                    </div>
                    
                </div>
				<a href="#" class="fan-btn"> Fan </a>
				<div class="img-rank-container" />
					<img src="imgjuju.png" class="img-rank"/>
					<p class="rank"> 1er </p>
				</div>
			</div>
			<div class="select-chapitre-container">
				<select name="chapitre" id="chapitre-select">
					<option value="false">
						Selectionnez votre chapitre
					</option>
					{% for chapitre in chapitres %}
						<option id={{ chapitre.id}} value={{ chapitre.id}}>
							chapitre
							{{ chapitre.id}}
							{{ chapitre.nom}}
						</option>
					{% endfor %}
				</select>
			</div>
			<div class='items'>
				<i class="fas fa-chevron-left btn-remove"></i>
				<i class="fas fa-chevron-right btn-next"></i>
				{% if pages[0].imgnom == null %}
					<a href="index.php?content=manga&mangaId={{manga.id}}">
						<img class='img' src="images/{{manga.imgnom}}"/>
					</a>
				{% else %}
					<img class='img-reader' src=images/Page/{{ pages[number].imgnom }}>
				</div>
			{% endif %}
			<!--
			       <p> {{number}}</p>
			
			        
			   <a href="index.php?content=manga&mangaId={{manga.id}}&action=like"> Likes </a>
			   <a href="index.php?content=manga&mangaId={{manga.id}}&action=dislike"> Disikes </a>
			   </div> -->
			<!--
			   {% if sessionId is defined and sessionId == mangaUserId %}
			
			        <a href='index.php?action=addTome&mangaId=".$manga['id']."'> Ajouter un Tome </a>
			    {% endif %}
			   <a href="index.php?content=tome&mangaId=<?=$manga['id']?>">Acceder aux tomes</a>
			   -->


		</body>
	</html>
{% endblock %}
